{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="input-field col s12 l6">
                                <input id="author" name="author" type="text" class="validate" required>
                                <label for="author">Votre Nom</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Votre Email</label>
                            </div>
    <button class="btn">{{ button_label|default('Save') }}</button>

    {% block javascripts %}

    {% endblock %}
{{ form_end(form) }}
